{% extends 'layout.html' %}
{% load static %}
{% block title %}
    Applicants
{% endblock %}
{% block styles %}
 <link rel="stylesheet" href="{% static 'app/css/style.default.css' %}"
          id="theme-stylesheet">
{% endblock %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
 
  <div class="breadcrumb-area">
    <div class="container h-75">
        <div class="row h-75 align-items-end">
            <div class="col-12">
                <div class="breadcumb--con">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Background Curve -->
    <div class="breadcrumb-bg-curve">
        <img src="{% static 'app/img/core-img/curve-5.png' %}" alt="">
    </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->
    <section class="bg-light-gray negative-margin-140">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="heading">Applicants for the <span class="accent">{{ job.title }}</span> position</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="negative-margin-140">
        <div class="container">
            <div class="row">
                {% for applicant in applicants %}
                    <div class="col-lg-6">
                        <div class="box applicant">
                            <h4>{{ applicant.user.get_full_name }}</h4>
                            <p><a href="javascript: void();" class="btn btn-outline-white-secondary btn-sm"> <i class="fa fa-download"></i>Download CV</a>
                            <a href="#" data-toggle="modal" data-target="#contact-modal" class="btn btn-outline-white-secondary btn-sm"><i class="fa fa-envelope"></i>Contact </a>
                            <a href="javascript: void();" class="btn btn-outline-white-secondary btn-sm"> <i class="fa fa-archive"></i>archive</a>
                            <a href="#" data-toggle="modal" data-target="#coverletter-modal" class="btn btn-outline-white-secondary btn-sm"><i class="fa fa-file-text-o"></i>See cover letter</a></p>
                            <p>
                                <span class="badge badge-info">Applied {{ applicant.created_at.astimezone }}</span>
                                <span class="badge badge-success">Contacted 30/12/2017</span>
                            </p>
                            <div class="d-flex justify-content-between">
                                <p class="intro"></p>
                                <div class="image">
                                    <img src="{% static 'app/img/jobs/avatar.png' %}" alt=""
                                         class="img-fluid rounded-circle">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- *** CONTACT MODAL ***_________________________________________________________
                    -->
                    <div id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade">
                    <div role="document" class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h4 id="Login" class="modal-title">Customer Login</h4>
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body">
                            <form action="#" method="post">
                            <div class="form-group">
                                <input type="text" placeholder="Subject" class="form-control">
                            </div>
                            <div class="form-group">
                                <textarea placeholder="Your message" class="form-control"></textarea>
                            </div>
                            <p class="text-center">
                                <button type="button" class="btn btn-outline-white-primary"><i class="fa fa-envelope"></i> Send</button>
                            </p>
                            </form>
                            <p class="text-center text-muted text-small">Some explanatory text.  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. </p>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- *** CONTACT MODAL END ***-->
                    
                    <!-- *** Cover letter modal ***_________________________________________________________
                    -->
                    <div id="coverletter-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade">
                    <div role="document" class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Han Solo - Demo Cover letter
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <p>Here could be the applicant's cover letter. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.  </p>
                            <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.  </p>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.  </p>
                        </div>
                        </div>
                    </div>
                    </div>
                    <!-- *** Cover letter MODAL END ***   -->
                {% if is_paginated %}
                    <div class="row">
                        <div class="col-md-12">
                            <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4 mb-4">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a href="?page={{ page_obj.previous_page_number }}"
                                               class="page-link">&laquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link">&laquo;</a>
                                        </li>
                                    {% endif %}
                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                            <li class="page-item active">
                                                <a class="page-link">{{ i }}</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a href="?page={{ page_obj.next_page_number }}"
                                               class="page-link">&raquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link">&raquo;</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                {% else %}
                    <h3>No Applicants Applied For This Job</h3>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}